<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="cardstyle.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <!-- name, members, creation date, first album, location, concert date-->
    <div class="row">
        <div class="column">
          <div class="card">
            <figure>
                <h3>Card 1</h3>
                <img src="queen.jpeg" alt="queen logo" width="300" height="220">
                <figcaption>Band Name</figcaption>
            </figure>
            <details>
                <summary>Recent Concerts</summary>
            </details>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <figure>
                <h3>Card 1</h3>
                <img src="queen.jpeg" alt="queen logo" width="300" height="220">
                <figcaption>Band Name</figcaption>
            </figure>
            <details>
                <summary>Recent Concerts</summary>
            </details>
          </div>
        </div>
    </div>
</body>
</html>