<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
        <title>groupie-tracker</title>
        <link href="static/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
      <header>
        <nav class="navbar">
          <!-- LOGO -->
          <div class="logo">groupie-tracker<br>by ashley and gin</div>
          <!-- SEARCH BAR -->
          <div>
            <input type="text" id="searchbar" placeholder="Search..">
            <input type="button" value="Search">
          </div>
        </nav>
      </header>
      <main>
      <section class="flex-container">
      {{range .}}
        <div class="card">
          <figure>
              <a id="img" href="http://localhost:8080/artists?id={{.Id}}">
              <img src={{.Image}} alt="band logo">
              </a>
              <figcaption href="http://localhost:8080/artists?id={{.Id}}">{{.Name}}</figcaption>
          </figure>
          <details>
              <summary>Recent Concerts</summary>
          </details>
        </div>
      {{end}}
      </section>
      </main>
    </body>
    <footer>
      <div role="contentinfo">All rights reserved</div>
    </footer>
    <script src="/static/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
</html>